<h1> My tasks </h1>
  <% @tasks.each do |task| %>

    <%= link_to task_path(task), class: 'task-title' do %>

      <div class="task">

        <h2 class="task-title"><%= task.title %></h2>

        <% if task.completed %>
            <i class="fa fa-check-square-o"></i>
        <% else %>
            <i class="fa fa-square-o"></i>
        <% end %>

      </div>

    <% end %>

  <% end %>

  <%= link_to('Create a new task', new_task_path) %>



